<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhaorui.dvdcollector" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".MyInventActivity"
            android:label="@string/title_activity_my_invent" >
        </activity>
        <activity
            android:name=".DVDInfoActivity"
            android:label="@string/title_activity_dvdinfo" >
        </activity>
        <activity
            android:name=".DVDInfoEditActivity"
            android:label="@string/title_activity_dvdinfo_edit" >
        </activity>
        <activity
            android:name=".FriendListActivity"
            android:label="@string/title_activity_friend_list" >
        </activity>
        <activity
            android:name=".FriendProfileActivity"
            android:label="@string/title_activity_friend_profile" >
        </activity>
        <activity
            android:name=".FriendInventActivity"
            android:label="@string/title_activity_friend_invent" >
        </activity>
        <activity
            android:name=".TradeCenterActivity"
            android:label="@string/title_activity_trade_center" >
        </activity>
        <activity
            android:name=".StartTradeActivity"
            android:label="@string/title_activity_start_trade" >
        </activity>
        <activity
            android:name=".TradeDetailActivity"
            android:label="@string/title_activity_trade_detail" >
        </activity>
        <activity
            android:name=".IncomeTradeActivity"
            android:label="@string/title_activity_income_trade" >
        </activity>
        <activity
            android:name=".IncomeTradeDetailActivity"
            android:label="@string/title_activity_income_trade_detail" >
        </activity>
        <activity
            android:name=".DVDAddActivity"
            android:label="@string/title_activity_dvdadd" >
        </activity>
        <activity
            android:name=".RomanticDVDActivity"
            android:label="@string/title_activity_romantic_dvd" >
        </activity>
        <activity
            android:name=".BrowseInventActivity"
            android:label="@string/title_activity_browse_invent" >
        </activity>
        <activity
            android:name=".AllTradesActivity"
            android:label="@string/title_activity_all_trades" >
        </activity>

    </application>

</manifest>
